{% load static %} <!-- Тут django конструкция  -->

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Log-In</title>
	<link rel="shortcut icon" href="{% static 'img/logo.ico' %}" type="image/x-icon">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:100,400,500,700,900&display=swap" rel="stylesheet">
   <link rel="stylesheet" type="text/css" href="{% static 'css/login.min.css' %}"><!-- Тут django конструкция  -->
</head>
<body>
	<div class="modal">
		<div class="modal__registration">
			<div class="modal__registration-inner">
				<div class="modal__users">
					<div class="modal__users-title">
						<div>Кем вы являетесь?</div>
					</div>
					<ul class="modal__users-type">
						<li><a href="{% url 'Register_Seller' %}">Новатор</a></li>
						<li><a href="{% url 'Register_Buyer' %}">Покупатель</a></li>
						<li><a href="{% url 'Register_Investor' %}">Инвестор</a></li>
					</ul>
				</div>
				<div class="modal__logo">
					<img src="{% static 'img/modal-logo.svg' %}" alt="logo">
					
				</div>
				<div id="close-modal"></div>
			</div>
		</div>
	</div>


	<section class="login">
		<div class="login__form">
			<div class="login__form-title">
				<a href="javascript://" onclick="history.back();return false;" class="back-btn"><!-- Тут django конструкция  -->
				   <img src="{% static 'img/close.mob.svg' %}" alt="back"><!-- Тут django конструкция  -->
				</a>
				<span>Вход</span>в личный кабинет
			 </div>
			 <form action="{% url 'login' %}" method="post"><!-- Тут django конструкция  -->
				<div class="login-input__title">Логин / Email</div>
				{{ form.username }}<!-- Тут django конструкция  -->
				<div class="login-input__title">Пароль</div>
				{{ form.password}}<!-- Тут django конструкция  -->
				
				<div class="form__btns">
				   <button type="submit">Войти</button>
				   <a href="{% url 'password_reset' %}" class="forget__pass">Забыли пароль?</a><!-- Тут django конструкция  -->
				</div>
				{% csrf_token %}<!-- Тут django конструкция  -->
			 </form>
			<div class="login__privacy">
				<a href="#" id="registration-modal">Регистрация нового пользователя</a>
				<a href="#">Политика конфедициальности</a>
			</div>
		</div>
		<div class="login__logo">
			<a class="login__logo-img" href="{% url 'Home' %}">
			   <img src="{% static 'img/login-logo.svg' %}"><!-- Тут django конструкция  -->
			</a>
			<div class="login__logo-text">
			   Твой быстрый старт<br>
			   в бизнесе!
			</div>
		 </div>
	</section>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="{% static 'js/libs.min.js' %}"></script>
	<script src="{% static 'js/main.js' %}"></script>

</body>

</html>
