{% extends 'registration/reset_password.html' %}
{% load static %}
{% block RESET_PASSWORD %}


<div class="login__form">
    <div class="login__form-title new-pass__title">
        <a href="javascript://" onclick="history.back();return false;" class="back-btn">
            <img src="{% static 'img/close.mob.svg' %}" alt="back">
        </a>
        <span>Придумайте новый пароль</span>Новый пароль не должен быть простым
    </div>
        <p class="password-error">
            {% if form.errors %}
            {% for field in form %}
            {% for error in field.errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
        {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
        {% endfor %}
        {% endif %}
        </p>

        
        {% if validlink %}
        <form action="." method="post">
            <!-- Тут django конструкция  -->
            <div class="login-input__title">Введите свой новый пароль</div>
            {{ form.new_password1 }}
            <div class="login-input__title">Повторите свой новый пароль</div>
            {{ form.new_password2 }}
    
            <div class="form__btns">
                <button type="submit">Изменить пароль</button>
            </div>
            {% csrf_token %}
            <!-- Тут django конструкция  -->
        </form>
        {% else %}
        <p>Ссылка для сброса пароля была недействительной, возможно, потому что
            уже была использована. Пожалуйста, запросите новый пароль для сброса.</p>
        {% endif %}
        <div class="login__privacy">
            <a href="#" id="registration-modal">Регистрация нового пользователя</a>
            <a href="#">Политика конфедициальности</a>
        </div>
    </div>
       
{% endblock %}