{% extends 'registration/reset_password.html' %}
{% load static %}
{% block RESET_PASSWORD %}
<div class="login__form">
    <div class="login__form-title">
        <a href="javascript://" onclick="history.back();return false;" class="back-btn">
            <!-- Тут django конструкция  -->
            <img src="{% static 'img/close.mob.svg' %}" alt="back"><!-- Тут django конструкция  -->
        </a>
        <div class="login-input__title">Сброс пароля </div>
    </div>
    <form action="." method="post">
        <!-- Тут django конструкция  -->
        <div class="login-input__title">Email</div>
        {{ form.email }}

        <div class="form__btns">
            <button type="submit">Сбросить</button>
        </div>
        {% csrf_token %}
        <!-- Тут django конструкция  -->
    </form>
    <div class="login__privacy">
        <a href="#" id="registration-modal">Регистрация нового пользователя</a>
        <a href="#">Политика конфедициальности</a>
    </div>
</div>
{% endblock %}