{% extends 'registration/reset_password.html' %}
{% load static %}
{% block RESET_PASSWORD %}

        <div class="login__form">
            <div class="login__form-title" >
                <a href="javascript://" onclick="history.back();return false;" class="back-btn">
                    <!-- Тут django конструкция  -->
                    <img src="{% static 'img/close.mob.svg' %}" alt="back"><!-- Тут django конструкция  -->
                </a>
                <span>Установка</span> нового пароля

                
            </div>
            <p>Ваш пароль успешно изменён !</p>

            <div class="login__privacy">
                <a href="#" id="registration-modal">Регистрация нового пользователя</a>
                <a href="#">Политика конфедициальности</a>
            </div>
        </div>
{% endblock %}