{% extends 'registration/register.html' %}

{% block content %}
    <section class="form">
		<div class="form__inner">
			<div class="form__user">
				ПРИВЕТ<br>
				<span>Покупатель</span>
			</div>
			<div class="form__info">
                <form action="." method="post">
                    {% csrf_token %}
                    {{user_form.username}}
                    {{user_form.first_name}}
                    {{user_form.last_name}}
                    {{user_form.email}}
                    {{user_form.password_one}}
                    {{user_form.password_two}}
					<div class="form__info-btns">
						<div class="checkbox">
							
							{{user_form.check_polity}}
							<label for="check">Политика конфидициальности</label>
							{% for message in messages %}
							<div class="message {{ message.tags }}">
								<label for="check">{{ message }}</label>
							</div>
							{% endfor %}
						</div>
						<button type="submit">Регистрация</button>
					</div>
				</form>
				<div class="form__info-warning">
					<div class="form__info-policy">
						<span>Регистрируясь</span>, вы принимаете
						наши Условия, Политику использования
						ваших личных данных.
					</div>
					<div class="form__info-login">
						Есть аккаунт?
						<a href="log-in.html">Войти</a>
					</div>
				</div>
			</div>
			<div class="form__devise">
				Это твой быстрый старт
				в бизнесе!
			</div>
		</div>
	</section>
{% endblock %}