<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% load static %}<!-- Тут django конструкция  -->

	<link rel="shortcut icon" href="{% static 'img/logo.ico' %}" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,400,500,700,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/registration.min.css' %}"><!-- Тут django конструкция  -->
	<title>Registration</title>
</head>

<body>
	<a href="{% url 'Home' %}" class="back-btn">
		<img src="{% static 'img/close.mob.svg' %}" alt="back">
	</a>
	<section class="registration__top">
		<a href="{% url 'Home' %}" class="registration__top-logo">
			<img src="{% static 'img/login-logo.svg' %}" alt="logo">
		</a>
		<div class="registration__top-info">
			<div class="top-info__titleMob">
				Регистрация
			</div>
			<div class="top-info__title">
				Регистрация
				нового пользователя
			</div>
			<div class="top-info__subtitle">
				Зарегистрируйтесь, чтобы Вы
				смогли осуществить новые идеи!
			</div>
		</div>
    </section>
    
{% block content %}
{% endblock %}

   
    <footer class="footer registration-footer">
		<div class="footer__inner">
			<div class="footer-col footer__mobile">
				<div class="footer__logo-mob">
					<div class="footer__logo">
						<img src="{% static 'img/footer-logo.svg' %}" alt="footer-logo">
					</div>
					<div class="footer__devise">
						Твой быстрый старт в бизнесе!
					</div>
				</div>
				<div class="footer-col footer__mobile-hid footer__mobile">
					<div class="footer__title">
						Способы оплаты
					</div>
					<ul class="footer__list">
						<li><a href="#">VISA</a> </li>
						<li><a href="#">QIWI</a> </li>
						<li><a href="#">WebMoney</a> </li>
						<li><a href="#">PayMe</a> </li>
					</ul>
				</div>
				<div class="footer__social">
					<div class="social__title">Соц.сети</div>
					<div class="social__items">
						<div class="social__item"></div>
						<div class="social__item"></div>
						<div class="social__item"></div>
						<div class="social__item"></div>
					</div>
				</div>
				<div class="privacy">
					<a href="#">Политика конфедициальности</a>
				</div>
			</div>
			<div class="footer-col">
				<div class="footer__title">
					Меню
				</div>
				<ul class="footer__list">
					<li><a href="#">О нас</a> </li>
					<li><a href="#">Проекты</a> </li>
					<li><a href="#">Связь</a> </li>
					<li><a href="#">Конфедициальность</a> </li>
					<li><a href="#">Сотрудничество</a> </li>
					<li><a href="#">Полезная информация</a> </li>
					<li><a href="#">Вакансии</a> </li>
				</ul>
			</div>
			<div class="footer-col">
				<div class="footer__title">
					Способы оплаты
				</div>
				<ul class="footer__list">
					<li><a href="#">VISA</a> </li>
					<li><a href="#">QIWI</a> </li>
					<li><a href="#">WebMoney</a> </li>
					<li><a href="#">PayMe</a> </li>
				</ul>
			</div>
			<div class="footer-col">
				<div class="footer__title">
					Соц.сети
				</div>
				<ul class="footer__list">
					<li><a href="#">Youtube</a> </li>
					<li><a href="#">VK.com</a> </li>
					<li><a href="#">Instagramm</a> </li>
					<li><a href="#">Telegram</a> </li>
				</ul>
			</div>
		</div>
		<div class="footer__license">
			Все права защищены
		</div>
	</footer>
</body>

</html>


    
