<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:100,400,500,700,900&display=swap" rel="stylesheet">
	<link rel="shortcut icon" href="{% static 'img/logo.ico' %}" type="image/x-icon">
	{% load static %}<!-- Тут django конструкция  -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/registration.min.css' %}"><!-- Тут django конструкция  -->
	<title>Subscription-Investor</title>
</head>

<body>
	<a href="{% url 'Home' %}" class="back-btn">
		<img src="{% static 'img/close.mob.svg' %}" alt="back">
	</a>
	<section class="registration__top">
		<div class="container">
			<div class="subscription__top-inner">
				<a href="{% url 'Home' %}" class="registration__top-logo">
					<img src="{% static 'img/login-logo.svg' %}" alt="logo">
				</a>
				<div class="subscription__top-info">
					<div class="top-info__title subscription-title">
						Оформление подписки для дальнейшего использования нашего сервиса
					</div>
				</div>
			</div>
		</div>
	</section>

	{% load accaunt_redir_extras %} 

	{% if sub_data.status  %}
    
   
   
		   <ul style="color: black;">
			   <li>Начало подписки{{sub_data.subscription_date}}</li>
			   <li>Конец подписки{{sub_data.subscription_end_date}}</li>
			   <li>Кол-во месяцев{{sub_data.mounth}}</li>
			   <li>Статут {{sub_data.status}}</li>
		   </ul>
		   
      
   
   
	{% else %}

	<section class="subscription__about">
		<div class="container">
			<div class="subscription__info">
				Данная подписка нужна для продвижения нашего сервиса, также мы даём огромную
				возможность людям которые желают вложиться но не знают как и где это сделать.
				Для этого мы и нужны вам!
			</div>
			<div class="subscription__inner">
				<div class="subscription__cost">
					<div class="costInvest">680₽</div>
					<div class="periodInvest">1 месяц</div>
				</div>
				<div class="subscription__advantages">
					<ul class="advantages__list">
						<li>Lorem Ipsum is simply dummy text of the printing and typesetting</li>
						<li>Lorem Ipsum is simply dummy text of the printing and typesetting</li>
						<li>Lorem Ipsum is simply dummy text of the printing and typesetting</li>
						<li>Lorem Ipsum is simply dummy text of the printing and typesetting</li>
					</ul>
				</div>
			</div>
			<div class="subscription__form">
                <form action="." method="post">
                    {% csrf_token %}
                    <button type="submit">Оплатить подписку</button>
					{{ sub_form.cost }}
					
					
				</form>
			</div>
			<div class="banks">
				<div class="banks__logo">
					<img src="{% static 'img/visa.svg'%}" alt="visa">
				</div>
				<div class="banks__logo">
					<img src="{% static 'img/master-card.svg'%}" alt="master-card">
				</div>
				<div class="banks__logo">
					<img src="{% static 'img/mir.svg'%}" alt="mir">
				</div>
			</div>
		</div>
    </section>
    {% endif %}
	<footer class="footer registration-footer">
		<div class="footer__inner">
			<div class="footer-col footer__mobile">
				<div class="footer__logo-mob">
					<div class="footer__logo">
						<img src="{% static 'img/footer-logo.svg' %}" alt="footer-logo">
					</div>
					<div class="footer__devise">
						Твой быстрый старт в бизнесе!
					</div>
				</div>
				<div class="footer-col footer__mobile-hid footer__mobile">
					<div class="footer__title">
						Способы оплаты
					</div>
					<ul class="footer__list">
						<li><a href="#">VISA</a> </li>
						<li><a href="#">QIWI</a> </li>
						<li><a href="#">WebMoney</a> </li>
						<li><a href="#">PayMe</a> </li>
					</ul>
				</div>
				<div class="footer__social">
					<div class="social__title">Соц.сети</div>
					<div class="social__items">
						<div class="social__item"></div>
						<div class="social__item"></div>
						<div class="social__item"></div>
						<div class="social__item"></div>
					</div>
				</div>
				<div class="privacy">
					<a href="#">Политика конфедициальности</a>
				</div>
			</div>
			<div class="footer-col">
				<div class="footer__title">
					Меню
				</div>
				<ul class="footer__list">
					<li><a href="#">О нас</a> </li>
					<li><a href="#">Проекты</a> </li>
					<li><a href="#">Связь</a> </li>
					<li><a href="#">Конфедициальность</a> </li>
					<li><a href="#">Сотрудничество</a> </li>
					<li><a href="#">Полезная информация</a> </li>
					<li><a href="#">Вакансии</a> </li>
				</ul>
			</div>
			<div class="footer-col">
				<div class="footer__title">
					Способы оплаты
				</div>
				<ul class="footer__list">
					<li><a href="#">VISA</a> </li>
					<li><a href="#">QIWI</a> </li>
					<li><a href="#">WebMoney</a> </li>
					<li><a href="#">PayMe</a> </li>
				</ul>
			</div>
			<div class="footer-col">
				<div class="footer__title">
					Соц.сети
				</div>
				<ul class="footer__list">
					<li><a href="#">Youtube</a> </li>
					<li><a href="#">VK.com</a> </li>
					<li><a href="#">Instagramm</a> </li>
					<li><a href="#">Telegram</a> </li>
				</ul>
			</div>
		</div>
		<div class="footer__license">
			Все права защищены
		</div>
	</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src={% static "js/libs.min.js" %}></script><!-- Тут django конструкция  -->
<script src={% static "js/main.js" %}></script><!-- Тут django конструкция  -->
</body>

</html>
