{% extends 'Account/base_account.html' %}
{% load chat_tag %}
{% load static %}
{% block content %}
    

<div class="style-text-black" style="color: black !important;">
{% if not chat %}
<div class="panel panel-body">
    "Невозможно начать беседу. Не найден пользователь или вы не имеете доступа к данной беседе."
</div>
{% else %}
{% load tz %}
{% if chat %}
    <div  class="panel" >
        <div id="innerMessages" id="messages">
            {% for message in chat.message_set.all %}
                    {% include 'users/messages.html' with message_item=message %}
            {% endfor %}
        </div>
    </div>
{% endif %}
<div id="message_form" class="message_form">
    <form id="message-form" class="panel panel-body" method="post" >
        {% csrf_token %}
        {{form}}
        <button type="submit" class="btn btn-default btn-sm" ><span class="ico ico-comment"></span>Отправить</button>
    </form>
</div>

{% endif %}

    <div class="div" id="content">

    </div>
</div>




<script type="text/javascript"  src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.0/jquery.min.js"></script>
<script type="text/javascript">
    var block = document.getElementById("innerMessages");
    block.scrollTop = block.scrollHeight;
</script>
<script type="text/javascript">

// setTimeout(function(){
//    $.ajax({
//        url: "http://127.0.0.1:8000/account/messege/dialogs/all_from_json/35/", 
//        success: 
//        function(result){
//             $("#messages").html(result);
//        }});
//     }, 5000);

// var arr = JSON.stringify('');
// var data = JSON.parse('');

// var header =  data.;
// var list = '';

// for (var i in data.fields.message) {
//   list += data.fields.message[i];
// }

// document.getElementById('content').innerHTML += header;
// document.getElementById('content').innerHTML += '<ul>' + list + '</ul>';



// var data = JSON.parse('{"model": "Messenger.message", "pk": 50, "fields": {"chat": 35, "author": 3, "message": "asdasd", "pub_date": "2020-05-30T19:11:55.218Z", "is_readed": true}}');

// var header =  data.fields.message;
// var list = '';

// for (var i in data.fields.message) {
//   list += data.fields.message[i];
// }

// document.getElementById('content').innerHTML += header;
// document.getElementById('content').innerHTML += '<ul>' + list + '</ul>';

// function show()
//      {
//          $.ajax({
//              url:  "{% url 'Messenger:all_from_json' ID_PAGE%}",
//              dataType: 'json',
//              success: function(html){
//                 $("div#content").json(html);
//              }
//          });
//      }

//      $(document).ready(function(){
//          show();
//          setInterval('show()',10000);
//      });



</script>
{% endblock %}