<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
	<meta charset="UTF-8">
	<meta name="yandex-verification" content="36db787b4f003c71" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Prostart-up</title>
	<link rel="shortcut icon" href="{% static 'img/logo.ico' %}" type="image/x-icon">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:100,400,500,700,900&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"><!-- Тут django конструкция  -->
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.min.css' %}"><!-- Тут django конструкция  -->
</head>

<body>
	<div class="top-button"></div>
	<header class="header">
		<div class="header__inner">
			<div class="header__navigation">
				{% include 'includes/menu.html' %}
			</div>
			<div class="header__content">
				<div class="header__users">
					<div class="header__nvigation-btn__mob">
						<div></div>
						<div></div>
						<div></div>
					</div>
					<div class="header__logo">
						<a href="{% url 'Home' %}">
							<!-- Тут django конструкция  -->
							<img class="logo" src="{% static 'img/logo.svg' %}" alt="logo">
							<!-- Тут django конструкция  -->
							<img class="white-logo" src="{% static 'img/white-logo.992px.svg' %}" alt="logo">
							<!-- Тут django конструкция  -->
						</a>
						<div class="header__logo-text">
							Твой быстрый старт
							в бизнесе!
						</div>
					</div>
					<a href="{% url 'account' %}" class="authorization">
						<!-- Тут django конструкция  -->
						<img src="{% static 'img/user.svg' %}" alt="login"><!-- Тут django конструкция  -->
					</a>
					<div class="header__users-authorization">
						<a href="{% url 'account' %}" class="self__btn">Личный кабинет</a>
						<!-- Тут django конструкция  -->
						{% if request.user.is_authenticated %}
						<!-- Тут django конструкция  -->
						<a href="{% url 'logout' %}" class="sing__btn">Выйти</a><!-- Тут django конструкция  -->
						{% else %}
						<!-- Тут django конструкция  -->
						<a href="{% url 'login' %}" class="sing__btn">Войти</a><!-- Тут django конструкция  -->
						{% endif %}
						<!-- Тут django конструкция  -->
					</div>
				</div>
				<div class="header__info">
					<div class="header__info-descr">
						<div class="header__info-services">
							<div class="header__info-services__title">
								Что мы сделаем для тебя
							</div>
							<ul class="services__list">
								<li><span>1</span>Найдём тебе инвестора/перспективного стартапера!</li>
								<li><span>2</span>Поможем продать твою идею</li>
								<li><span>3</span>Найдём выгодный стартап для вложений</li>
							</ul>
							<div class="hidden_slider">
								<div class="services__slider">
									<div class="services__slider-item">
										<div class="services-box">
											<div class="services__num">1</div>
											<div class="services__content">Найдём тебе инвестора/перспективного
												стартапера!</div>
										</div>
									</div>
									<div class="services__slider-item">
										<div class="services-box">
											<div class="services__num">2</div>
											<div class="services__content">Поможем продать твою идею</div>
										</div>
									</div>
									<div class="services__slider-item">
										<div class="services-box">
											<div class="services__num">3</div>
											<div class="services__content">Найдём выгодный стартап для вложений</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="header__info-aboutus">
							<div class="header__info-aboutus__title">Кто мы?</div>
							<div class="header__info-aboutus__descr">
								Мы – платформа бизнес-предложений. Помогаем стартаперам ускорять старт бизнеса, а
								инвесторам и покупателям – вкладываться в проекты с высокой отдачей, либо покупать
								готовые бизнес-модели и монетизировать их самостоятельно....

							</div>
							<a href="{% url 'About_us' %}" class="learn-more">Узнать больше <img
									src="{% static 'img/learn-more.svg' %}" alt=""></a><!-- Тут django конструкция  -->
						</div>
					</div>
					<div class="header__info-users">
						<h1 class="hello">ПРИВЕТ!</h1>
						<div class="header__users-type">
							<a href="{% url 'Register_Seller' %}" class="modal_btn-startuper">Новатор</a>
							<!-- Тут django конструкция  -->
							<a href="{% url 'Register_Buyer' %}" class="modal_btn-seller">Покупатель</a>
							<!-- Тут django конструкция  -->
							<a href="{% url 'Register_Investor' %}" class="modal_btn-investor">Инвестор</a>
							<!-- Тут django конструкция  -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
	<section class="question">
		<div class="title">
			Если ты:
		</div>
		<div class="question__inner">
			<div class="question__users">
				<div class="question__users-title">
					Новатор
				</div>
				<div class="question__users-descr">

					Предоставим тебе платформу, где ты сможешь продвигать свои проекты и находить инвесторов.
					На этой платформе ты сможешь найти и покупателей, которые хотят купить твою бизнес-модель
				</div>
			</div>
			<div class="question__users">
				<div class="question__users-title">
					Покупатель
				</div>
				<div class="question__users-descr">
					Желаешь приобрести стартап?
					Умеешь раскручивать стартапы? Хочешь приобрести и раскрутить выгодную бизнес-модель?
					Откроем доступ к десяткам интересных и перспективных предложений
				</div>
			</div>
			<div class="question__users">
				<div class="question__users-title">
					Инвестор
				</div>
				<div class="question__users-descr">
					У меня для тебя отличная новость !
					У нас магазин перспективных бизнес-проектов – выбирай, приобретай и сотрудничай с авторами
					стартапов.
					Мы собрали их в большой ассортимент с описанием идеи, её реализации и бюджета
				</div>
			</div>
		</div>
	</section>
	<!-- <section class="wow fadeIn achievements">
		<div class="achievements__inner">
			<div class="achievements__title">Чего мы добились</div>
			<div class="achievements__descr">
				<div class="achievements__items">
					<div class="achievements__users">
						<div class="achievements-number">12 465</div>
						<div class="achievements-info">
							Общих пользователей
						</div>
					</div>
					<div class="achievements__projects">
						<div class="achievements-number">+600</div>
						<div class="achievements-info">
							Успешных проектов
						</div>
					</div>
				</div>
				<div class="achievements__items">
					<div class="achievements__investors">
						<div class="achievements-number">85</div>
						<div class="achievements-info">
							Постоянных инвесторов
						</div>
					</div>
					<div class="achievements__cost">
						<div class="achievements-number">$500</div>
						<div class="achievements-info">
							Средний чек
						</div>
					</div>
				</div>
			</div>
		</div>
	</section> -->
	<section class="belive">
		<div class="belive-container">
			<div class="title">Нам доверяют</div>
			<div class="belive__carousel">
				<div class="carousel__item">
					<div class="belive-box">
						<div class="belive__carousel-logo">
							logo
						</div>
						<div class="belive__carousel-name">Название компании</div>
					</div>
				</div>
				<div class="carousel__item">
					<div class="belive-box">
						<div class="belive__carousel-logo">
							logo
						</div>
						<div class="belive__carousel-name">Название компании</div>
					</div>
				</div>
				<div class="carousel__item">
					<div class="belive-box">
						<div class="belive__carousel-logo">
							logo
						</div>
						<div class="belive__carousel-name">Название компании</div>
					</div>
				</div>
				<div class="carousel__item">
					<div class="belive-box">
						<div class="belive__carousel-logo">
							logo
						</div>
						<div class="belive__carousel-name">Название компании</div>
					</div>
				</div>
				<div class="carousel__item">
					<div class="belive-box">
						<div class="belive__carousel-logo">
							logo
						</div>
						<div class="belive__carousel-name">Название компании</div>
					</div>
				</div>
				<div class="carousel__item">
					<div class="belive-box">
						<div class="belive__carousel-logo">
							logo
						</div>
						<div class="belive__carousel-name">Название компании</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	{% include 'includes/footer.html' %}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src={% static "js/libs.min.js" %}></script><!-- Тут django конструкция  -->
	<script>
		new WOW().init();
	</script>
	<script src={% static "js/main.js" %}></script><!-- Тут django конструкция  -->
</body>

</html>