{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="UTF-8">

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Prostart-up</title>
	<link rel="icon" href="{% static 'icon.ico' %}">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:100,400,500,700,900&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'css/style.min.css' %}">
</head>

<body>
	<a href="javascript://" onclick="history.back();return false;" class="policy_back back-btn">
		<img src="{% static 'img/close.mob.svg' %}" alt="back">
	</a>
	<div class="top-button"></div>
	<div style="position: fixed;" class="header__navigation">
		{% include 'includes/menu.html' %}
	</div>
	<section class="privacy__header">
		<a href="{% url 'Home' %}" class="privacy__header-logo">
			<img src="{% static 'img/footer-logo.svg' %}" alt="logo">
		</a>
		<div class="privacy__header-info">
			<div class="privacy__header-info__title">Политика конфеденциальности</div>
			<div class="privacy__header-info__subtitle">
				Здесь вы можете ознакомиться о вашей безопасности и ваших личных данных
			</div>
		</div>
	</section>
	<section class="privacy__top">
		<div class="privacy__top-descr">
			<h1 class="privacy__top-descr__title">Политика конфеденциальности</h1>
			<p class="privacy__top-descr__info">
				Настоящий документ (далее по тексту – «Политика») представляет собой правила использования Владельцем и
				Администрацией сайта Prostart-up.ru данных интернет-пользователей, собираемых с использованием сайта
				<a href="{% url 'Home' %}" style="color:#008fef">prostart-up.ru</a>
			</p>
		</div>
		<div class="privacy__top-image">
			<img src="{% static 'img/privacy.svg' %}" alt="privacy">
		</div>
	</section>
	<section class="privacy__quests">
		<div class="privacy__container">
			<div class="privacy__quest">
				<div class="privacy__quest-question">
					<div class="privacy__quest-title">Вопрос</div>
					<p class="question__text">На каком основании и с какой целью мы собираем персональные данные?</p>
				</div>
				<div class="privacy__quest-answer">
					<div class="privacy__quest-title">Ответ</div>
					<p class="answer__text">
						С целью сотрудничества и упрощения работы с нами и нашими услугами которые мы предоставляем вам!
					</p>
				</div>
			</div>
			<div class="privacy__quest">
				<div class="privacy__quest-question">
					<div class="privacy__quest-title">Вопрос</div>
					<p class="question__text">
						Сведения о том, кто обрабатывает данные, если этим занимается другая
						компания, а также о третьих лицах, у которых есть доступ к ним.
					</p>
				</div>
				<div class="privacy__quest-answer">
					<div class="privacy__quest-title">Ответ</div>
					<p class="answer__text">
						Ваши персональные данные обрабатывает наш сервис и не предоставляет ваши данные 3м лица
						Ваши персональные данные не распространяются вне нашего сервиса и могут быть предоставлены
						исключительно людям с которыми вы сотрудничаете!
						Публичные данные (Вашего телефона, ФИО и вашей электронной почтой) предоставляется доступ людям
						которые сотрудничают с вашими проектами
					</p>
				</div>
			</div>
			<div class="privacy__quest">
				<div class="privacy__quest-question">
					<div class="privacy__quest-title">Вопрос</div>
					<p class="question__text">
						Сроки обработки и хранения персональных данных.
					</p>
				</div>
				<div class="privacy__quest-answer">
					<div class="privacy__quest-title">Ответ</div>
					<p class="answer__text">
						После регистрации ваши данные хранятся пока ваша активность проявляется на нашем сервисе
						неограниченное кол-во времени, если ваша активность не будет проявляться по истечению более 12ти
						месяцев ваши данные подверженные хранению будут удалены.
					</p>
				</div>
			</div>
		</div>
	</section>
	<section class="yourSecurity">
		<div class="privacy__container">
			<h3 class="yourSecurity__title">Безопасность ваших средств</h3>
			<div class="yourSecurity__conditions">
				<div class="allowCashback">
					<div class="cashback__title">
						Возмещение средств

					</div>
					<!-- <h4>В случае некорректной работы сервиса производится возврат средств. Средства возвращают, если:</h4> -->
					<div class="cashback__conditions">
						<ol class="conditions">
							<li>
								Произошла оплата, но на счёт аккаунта не поступила оплаченная сумма.
							</li>
							<li>
								Полученная на аккаунт сумма не совпадает с уплаченной.
							</li>
							<li>
								Деньги за услуги списываются некорректно.
							</li>
							<li>
								После пополнения средств, сервис не работает в вашей стране или нарушена
								работаспособность.
							</li>
							<li>
								Если услуга была оплачена, но не принята модераторами сервиса, средства также подлежат
								возврату.
							</li>
						</ol>
					</div>
				</div>
				<div class="noCashback">
					<div class="cashback__title">Не подлежит возврату ваших средств</div>
					<div class="cashback__conditions">
						<ol class="conditions">
							<li>
								Некорректно введена сумма при пополнении баланса.
							</li>
							<li>
								Уже были списаны со счёта за услуги.
							</li>
							<li>
								Виртуальный депозит не подлежит выводу.
							</li>
							<li>
								Также средства не могут быть выведены после успешного заключения контракта.
							</li>
						</ol>
					</div>
				</div>
				<div class="info" style="text-align: center; color: #008fef;">
					<h4>Вся информация о платежах отслеживается и предоставляется клиенту в случае необходимости.</h4>
					<h4>Все заявки обрабатываются операторами в течении 3х рабочих дней!</h4>
					<h4>Оператор свяжется с вами для решения конфликтной ситуации!</h4>
					<h4>Информация активно обновляется!</h4>
				</div>
			</div>
		</div>
	</section>

	{% include 'includes/footer.html' %}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src={% static 'js/libs.min.js' %}></script>
	<script>
		new WOW().init();
	</script>
	<script src={% static 'js/main.js' %}></script>
</body>

</html>