
{% extends 'Account/base_account.html' %}
{% load accaunt_redir_extras %}
{%load static%}
{% block content %}
        {% load tz %}
        <!-- ОсНоВнОй бЛоК С КоНтРаКтАмИ -->
				
            <div class="admin__title">Ваши контракты</div>
            <div class="admin__content-contracts">
                <div class="admin__content-contracts__inner">
                    <div class="admin__content-contracts__title">
                        <div class="title-name">Ваши контракты</div>
                    </div>
                    <div class="admin__content-contracts__ideasList">
                        
                        <div class="contracts__ideasList-items">
                            {% if contracts.count == 0 %}
                                    <div class="panel panel-body">"Нет ни одного contract" </div>
                            {% endif %}    
                            {% for contract in contracts %}
                            <div class="contracts__item">
                                <div class="contracts__item-descr">
                                    <div class="contracts__item-descr__title">{{contract.project_id}}</div>
                                    <div class="contracts__item-descr__shortDescr">
                                        {{contract.project_id.presentation}}
                                    </div>
                                </div>
                                <div class="contracts__item-detail">
                                    <div class="contracts__item-detail__cost">
                                        <div class="contracts__item-nums">Стоимость <span>$ {{contract.project_id.project_cost}}</span></div>
                                        <div class="contracts__item-nums">Дата согласия <span>{{contract.rejected|date:"m/d/Y"}}</span>
                                        </div>
                                        <a href="{% url 'Offers:contract_detail' contract.id %}" title="detail-contracts"
                                            class="learn-more__contracts">
                                            <img src="{% static 'img/detail-contracts.svg' %}" alt="learn-more">
                                        </a>
                                    </div>
                                    {% if contract.project_id.project_img_one %}
                                    <div class="contracts__item-detail__img"
                                        style="background: url({{contract.project_id.project_img_one.url}}); background-position: center; background-repeat: no-repeat; background-size: cover;">
                                    </div>
                                    {% else %}
                                    <div class="contracts__item-detail__img"
											style="background: url(img/contract-preview.jpg); background-position: center; background-repeat: no-repeat; background-size: cover;">
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        
                    </div>
                </div>
            </div>
{% endblock %}