{% extends 'Account/base_account.html' %}
{% load accaunt_redir_extras %}
{% load static %}
{% block content %}

{% for contract in contracts %}
				<div style="color: #06005D;" class="admin__content-contractDetails">
					<div class="admin__content-contractDetails__inner">
                        {% if contract.project_id.project_img_one %}
                            <div class="admin__content-contractDetails__shortDescr"
                                style="background-image: url({{contract.project_id.project_img_one.url}});">
                            {% else %}
                            <div class="admin__content-contractDetails__shortDescr"
                                style="background-image: url(img/contract-bg.jpg);">
                        {% endif %}
							<div>
								<div class="admin__content-contractDetails__shortDescr-title">
									<div class="admin__content-contractDetails__shortDescr-title__name">{{contract.project_id.project_name}}
									</div>
									<div class="admin__content-contractDetails__shortDescr-title__text">
										{{contract.project_id.presentation}}
									</div>
								</div>
								<a href="{{contract.project_id.get_absolute_url}}" class="admin__content-contractDetails__shortDescr-watchBtn">Помотреть
									идею</a>
							</div>
						</div>
						<div class="admin__content-contractDetails__descr">
							<div class="admin__content-contractDetails__descr-header">
								<div class="admin__content-contractDetails__descr-header__human">
									<div class="contractoor__name">{{contract.from_user}}</div>
									<div class="contractor__type">Новатор</div>
								</div>
								<div class="admin__content-contractDetails__descr-header__human">
									<div class="contractoor__name">{{contract.to_user}}</div>
									<div class="contractor__type">Инвестор</div>
								</div>
							</div>
							<p class="admin__content-contractDetails__descr-text">
								День заключения важнейшего Нерчинского договора отмечается 29 августа. Договор был
								заключен в 1689 году недалеко от города Нерчинск между российской и китайской сторонами.
								Этот договор являлся важнейшим связующим звеном в отношении между двумя сильными
								государствами. Оригинал договора был составлен на двух языках: латинском и маньчжурском.
								К сожалению, русский вариант договора не дошел до наших дней, его образец содержится в
								«Статейном списке», написанном русским послом. Основной идеей договора…
								День заключения важнейшего Нерчинского договора отмечается 29 августа. Договор был
								заключен в 1689 году недалеко от города Нерчинск между российской и китайской сторонами.
								Этот договор являлся важнейшим связующим звеном в отношении между двумя сильными
								государствами. Оригинал договора был составлен на двух языках: латинском и маньчжурском.
								К сожалению, русский вариант договора не дошел до наших дней, его образец содержится в
								«Статейном списке», написанном русским послом. Основной идеей договора...
							</p>
							<div class="admin__content-contractDetails__descr-congratulations">
								<div class="our__logo">
									<img src="{% static 'img/logo.svg' %}" alt="">
								</div>
								<div class="congratulations">
									<div class="congratulations__title">От души Вас поздравляет!</div>
									<p class="congratulations__text">
										День заключения важнейшего Нерчинского договора отмечается 29 августа. Договор
										был заключен в 1689 году недалеко от города
									</p>
									<div class="contract-id">ID контракта: {{contract.id}}</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				{% endfor %}
{% endblock %}