{% extends 'Account/base_account.html' %}
{% load accaunt_redir_extras %}
{% load static %}
{% block content %}
<div class="admin__title">Корзинка идей</div>
				<div class="admin__content-basket">
					<div class="admin__content-basket__inner">
						<div class="admin__content-basket__title">
							<div class="basket__img">
								<img src="{% static 'img/basket.svg' %}" alt="basket">
							</div>
							<div class="title-name">Корзинка идей</div>
						</div>
						<div class="admin__content-basket__ideasList">
							<div class="basket__ideasList-items">

                            {% for item in favorite %}
                                {% with project=item.project %}
								<div class="basket__item">
									<div class="basket__item-preview__img">
										{% if project.project_img_one %}
										<img src="{{project.project_img_one.url}}">
										{% endif %}
									</div>
									<div class="basket__item-descr">
										<div class="basket__item-descr__about">
											<div class="basket__item-descr__about-name">{{ project.project_name }}</div>
											<div class="basket__item-descr__about-subdescr">
												Сама добывает воду и готовит тоже сама!
											</div>
										</div>
										<div class="basket__item-descr__price">
											<div class="basket__item-descr__price-num">₽{% if project.choices == 'Selling' %} {{project.project_cost}} {% else %} {{project.project_investment}}{% endif %}</div>
											<a href="{{ project.get_absolute_url }}" class="detail-view">
                                                <span>Ознакомиться</span><img src="{% static 'img/about.svg' %}" alt="">
											</a>
										</div>
									</div>
									<a href="{% url 'Favorite_remove' project.id%}"><div class="delete-btn"></div></a>
								</div>
								{% endwith %}
                            {% endfor %}
								
							</div>
						</div>
					</div>
				</div>
{% endblock %}