
{% extends 'Account/base_account.html' %}

{% block content %}
<div class="style-text-black" style="color: black !important;">
    <div class="panel">
        {% load tz %}
        {% if offers.count == 0 %}
            <div class="panel panel-body">"Нет ни одного Offer" </div>
        {% endif %}

        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Offer</th>
                <th scope="col">Project</th>
                <th scope="col">Status</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
                {% for offer in offers %}
                        <tr>
                            <td><strong class="list-group-item-heading"><p>{{offer}}</p></strong></td>
                            <td><strong class="list-group-item-heading"><p><a href="{{offer.get_member_url }}">{{offer.member}}</a>  </p></strong></td>
                            <td><strong class="list-group-item-heading"><p>{% if offer.deal  %} Сделка совершенна {% else %} Ожидание {% endif %}</p></strong></td>
                            <td><strong class="list-group-item-heading"><p><a href="{% url 'Offers:remove_offer' offer.id%}" >Canel</a></p></strong></td>
                        </tr>
                {% endfor %}
            </tbody>
          </table>
    </div>
</div>


{% endblock %}