{% extends 'Account/base_account.html' %}
{% load accaunt_redir_extras %}
{% load accaunt_redir_extras %}
{% load static %}

{% block content %}

<div class="admin__content-form">
    <div class="admin__title">Редактирование проекта</div>
    <div class="add__project">
        <form action="." method="post" enctype="Multipart/form-data">
            {% csrf_token %}
            <div class="add__project-inner">
                <div class="add__project-about edit__project-about">
                    <div class="add__project-about__title ">Редактирование проекта</div>
                    <div class="add__project-done__btns">
                        <button type="submit">Обновить</button>
                    </div>
                    {% if form.errors %}
                    {% for field in form %}
                    {% for error in field.errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                    {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                    {% endfor %}
                    {% endif %}
                </div>
                <div class="add__project-form">
                    <div class="add__project-form__descr">
                        {{ form.project_name  }}<!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
                        {{form.presentation}}
                        <!-- <textarea placeholder=""></textarea> -->
                    </div>
                    <div class="add__project-form__images">
                        <div class="add-img">
                            {{form.project_img_one}}
                            <label for="add-img1">
                                <span class="material-icons">add</span>
                                <div class="js-value">Главная фотография проекта</div>
                            </label>
                        </div>
                        <div class="add-img">
                            {{form.project_img_two}}
                            <label for="add-img2">
                                <span class="material-icons">add</span>
                                <div class="js-value">Фотография проекта</div>
                            </label>
                        </div>
                        <div class="add-img">
                            {{form.project_img_three}}
                            <label for="add-img3">
                                <span class="material-icons">add</span>
                                <div class="js-value">Фотография проекта</div>
                            </label>
                        </div>
                    </div>
                    <div class="add__project-form__files">
                        <div class="file__inputs">
                            {{form.full_project_description}}
                            <label for="presentation">Загрузить презентацию</label>
                            <div class="file__inputs-about">Презентацию можно загружать файлами: .PDF,
                                .PPT </div>
                        </div>
                        <div class="file__inputs">
                            {{form.business_plan}}
                            <label for="plan">Бизнес план проекта</label>
                            <div class="file__inputs-about">Бизнес план можно загружать файлами: .DOCX,
                                .TXT </div>
                        </div>
                        
                        <div class="file__inputs">
                            {{form.choices}} <!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
                            <div class="file__inputs-about">Выберете тип инвестиция или продажа для
                                дальнейших действий</div>
                        </div>
                        <div class="file__inputs">
                            {{form.project_investment}}
                            <div class="file__inputs-about">Стоимость для инвестора, чтобы он смог с
                                вами сотрудничать</div>
                        </div>
                        <div class="file__inputs">
                            
                            {{form.project_cost}}
                            <div class="file__inputs-about">Стоимость должна быть в допустимых значениях
                            </div>
                        </div>
                        <div class="file__inputs">
                            {{form.category}}
                            <div class="file__inputs-about">Выбор категории проекта помогает быстрее его
                                отыскать.</div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>



{% endblock %}