{% extends 'Account/base_account.html' %}
{% load static %}
{% block content %}
{% for project in projects %}
<div style="color: #06005D;" class="admin__content-details">
    <div class="admin__content-details__header">
        <div class="details__header-userInfo">
            <div class="details__header-userInfo__photo"></div>
            <div class="details__header-userInfo__about-name">{{project.project_author}}</div>
        </div>
        <div class="details__header-userStatistic">
            <div class="details__header-userStatistic__rating">
                {{project.publication_date}}
            </div>
            <div class="details__header-userStatistic__views">
                {% for view in views %}
                <span><img src="{% static 'img/views.svg' %}" alt=""></span>{{view.views}}
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="admin__content-details__main">
        <div class="details__main-inner">
            <div class="details__main-preview">
                <div class="preview__img-primary">
                    {% if project.project_img_one %}
                    <img src="{{project.project_img_one.url}}" >
                    {% endif %}
                </div>
                <div class="preview__img-secondary">
                    <div class="secondary_img1">
                        {% if project.project_img_two %}
                        <img src="{{project.project_img_two.url}}" >
                        {% endif %}
                    </div>
                    <div class="secondary_img2">
                        {% if project.project_img_three %}
                        <img src="{{project.project_img_three.url}}" >
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="details__main-about">
                <div class="details__main-about__info">
                    <h2 class="details__main-about__projectName">{{project.project_name}}</h2>
                    <h4>Категория : {{project.category}}</h4>
                    <h4>Тип проекта: {{project.choices}}</h4>
                    <p class="details__main-about__projectDescr">
                        {{project.presentation}}
                    </p>
                    <div class="download__btns">
                        <a download href="{{project.full_project_description.url}}"  title="download presentation" class="download__btn">Презентация</a>
                        <a download href="{{project.business_plan.url}}"  title="download biznes model" class="download__btn">Бизнес
                            модель</a>
                    </div>
                </div>
                <div class="details__main-about__price">
                    <div class="details__main-about__price-cost">
                        <div class="cost__numbers">
                            <span>Стоимость проекта:</span>${{project.project_cost}}
                        </div>
                        {% if request.user != project.project_author %}
                        <a href="{% url 'Offers:create_offer' project.id project.project_author.id %}" title="buy button" class="cost__btn">Покупка</a>
                    </div>
                    <div class="details__main-about__price-appendix">
                        <a href="{% url 'Messenger:create_dialog' project.project_author.id %}" class="send__message">Написать автору</a>
                        <form action="{% url "Favorite_add" project.id %}" method="post">
                            {{ favorite_project_form }}
                            {% csrf_token %}
                            <input type="submit" class="addToFavorites btn-fav" value="Добавить в избранное" class="addToFavorites">
                        </form>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}




{% endblock %}