{% load static %}
<footer class="footer">
    <div class="footer__inner">
        <div class="footer-col footer__mobile">
            <div class="footer__logo-mob">
                <div class="footer__logo">
                    <img src="{% static 'img/footer-logo.svg' %}" alt="footer-logo"><!-- Тут django конструкция  -->
                </div>
                <div class="footer__devise">
                    Твой быстрый старт в бизнесе!
                </div>
            </div>
            <div class="footer-col footer__mobile-hid footer__mobile">
                <div class="footer__title">
                    Способы оплаты
                </div>
                <ul class="footer__list">
                    <li><a href="#">VISA</a> </li>
                    <li><a href="#">QIWI</a> </li>
                    <li><a href="#">WebMoney</a> </li>
                    <li><a href="#">PayMe</a> </li>
                </ul>
            </div>
            <div class="footer__social">
                <div class="social__title">Соц.сети</div>
                <div class="social__items">
                    <div class="social__item"><img src="{% static 'img/telegram.svg' %}" alt=""></div>
                    <div class="social__item"><img src="{% static 'img/whatsapp.svg' %}" alt=""></div>
                    <div class="social__item"><img src="{% static 'img/facebook.svg' %}" alt=""></div>
                    <div class="social__item"><img src="{% static 'img/instagram.svg' %}" alt=""></div>
                </div>
            </div>
            <div class="privacy">
                <a href="#">Политика конфедициальности</a>
            </div>
        </div>
        <div class="footer-col">
            <div class="footer__title">
                Меню
            </div>
            <ul class="footer__list">
                <li><a href="#">О нас</a> </li>
                <li><a href="#">Проекты</a> </li>
                <li><a href="#">Связь</a> </li>
                <li><a href="#">Конфедициальность</a> </li>
                <li><a href="#">Сотрудничество</a> </li>
                <li><a href="#">Полезная информация</a> </li>
                <li><a href="#">Вакансии</a> </li>
            </ul>
        </div>
        <div class="footer-col">
            <div class="footer__title">
                Способы оплаты
            </div>
            <ul class="footer__list">
                <li><a href="#">VISA</a> </li>
                <li><a href="#">QIWI</a> </li>
                <li><a href="#">WebMoney</a> </li>
                <li><a href="#">PayMe</a> </li>
            </ul>
        </div>
        <div class="footer-col">
            <div class="footer__title">
                Соц.сети
            </div>
            <ul class="footer__list">
                <li><a href="#">Youtube</a> </li>
                <li><a href="#">VK.com</a> </li>
                <li><a href="#">Instagramm</a> </li>
                <li><a href="#">Telegram</a> </li>
            </ul>
        </div>
    </div>
    <div class="footer__license">
        Все права защищены
    </div>
</footer>