{% load accaunt_redir_extras %}
<!DOCTYPE html>
<html lang="en">
	{% load static %}<!-- Тут django конструкция  -->
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>adminStaruper</title>
	<link rel="shortcut icon" href="{% static 'img/logo.ico' %}" type="image/x-icon">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:100,400,500,700,900&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'css/admin.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/custom.css' %}">
</head>

<body >
	<div class="admin">
		<div class="admin__inner">
			<div class="admin__nav">
				<div class="admin__nav-user">
					<div class="admin__nav-user__photo">
						{% if data_profile.photo %}
							<img src="{{data_profile.photo.url}}" alt="Profile image">
						{% endif %}
					</div>
					<div class="admin__nav-user__name">Привет <span>{{request.user.first_name}}!</span></div>
				</div>
				<div class="admin__nav-navbar">
					{% if request.user|has_group:"Seller" %}
					<a href="{% url 'create_project' %}">Выставить проект</a>
					<ul class="navbar__list">
						<li><a href="{% url 'Edit-project' %}">Редактировать проект</a></li>
						<!-- <li><a href="#">Контакты</a></li> -->
						<li><a href="{% url 'Offers:offers'  %}">Предложения</a></li>
						<li><a href="#">История</a></li>
						<li><a href="#">Безопасность</a></li>
						<li><a href="#">Пример</a></li>
						<li><a href="#">Разовая сделка</a></li>
						<li><a href="{% url 'Edit' %}">Настройки аккаунта</a></li>
					</ul>
					{% else %}
					<ul class="navbar__list">
						<li><a href="{% url 'project_list' %}">Корзинка идей</a></li>
						<li><a href="{% url 'Offers:offers'  %}">Предложения</a></li>
						<li><a href="#">История</a></li>
						<li><a href="#">Безопасность</a></li>
						<li><a href="#">Конфедициальность</a></li>
						<li><a href="{% url 'Subscription_Investor' %}">Подключение <span> PRO</span></a></li>
						<li><a href="{% url 'Edit' %}">Настройки аккаунта</a></li>
					</ul>
					{% endif %}
				</div>
				<div class="admin__nav-social">
					<div class="social__title">Соц.сети</div>
					<div class="social__items">
						<div class="social__item"></div>
						<div class="social__item"></div>
						<div class="social__item"></div>
						<div class="social__item"></div>
					</div>
				</div>
			</div>
			<div class="admin__content">
				<div class="admin__content-top">
					<div class="admin__content-top__info">
						<div class="burger-btn">
							<div></div>
							<div></div>
						</div>
						<a href="{% static 'noitfications.html' %}" class="notif-img"><img src="{% static 'img/notification-mob.svg' %}"
								alt="notifications"></a>
						<a href="{% url 'Messenger:dialogs'  %}" class="messages">
							<span><img src="{% static 'img/messages.svg' %}" alt=""></span>Сообщения
						</a>
						<a href="noitfications.html" class="notifications">
							<span><img src="{% static 'img/notifications.svg' %}" alt=""></span>Уведомления
						</a>
					</div>
					<div class="admin__content-top__home">
						<a href="{% url 'account' %}" class="admin-logo">
							<img src="{% static 'img/admin-logo.svg' %}" alt="logo">
							<div class="logo-text">Твой быстрый старт в бизнесе!</div>
						</a>
						<a href="{% url 'logout' %}" class="log-out">Выйти</a>
					</div>
				</div>
				<div class="balance">
					<div class="balance__inner">
						<div class="balance__summ">
							<div class="balance__summ-text">
								<div class="balance__summ-info__title">Ваш баланс</div>
								<div class="balance__summ-quantity">
									<span><img src="img/white-coin.svg" alt=""></span>2500₽
								</div>
							</div>
							<div class="balance__summ-form">
								<form method="POST" action=".">

									{{ form_ref.summ }}
									{% csrf_token %}
									<!-- <input type="number" placeholder="Введите сумму"> -->
									<button type="submit">Пополнить</button>
								</form>
							</div>
						</div>
						<div class="balance__subscription">
							<div class="balance__subscription-title">Добро пожаловать Nickname</div>
							<div class="balance__subscription-subtitle">
								Данный сервис даёт вам полную возможность выставлять свои идеи для двух лиц
								инвестора и покупателя, бесплатно!
							</div>
						</div>
					</div>
				</div>
					{% block content  %}
				
					{% endblock %}
			</div>
		</div>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src={% static "js/libs.min.js" %}></script><!-- Тут django конструкция  -->
	<script src={% static "js/main.js" %}></script><!-- Тут django конструкция  -->
</body>

</html>